.navbar-aside {
    background: #F8F9FA;
    position: fixed;
     // 維持在各裝置版最小寬度，不會隨著縮放而破版
    min-width: 296px;
    min-height: 800px;
    padding: 32px 0  32px 34px;
    .nav-item {
        display: flex;
        align-items: center;
        margin-bottom: 29px;    
    }
    .nav-link {
        color: #212529;
    }

}

