.navbar-aside {
     // 維持在各裝置版最小寬度，不會隨著縮放而破版
    min-width: 296px;
    min-height: 100vh;
    .nav-item {
        margin-bottom: 5px;    
    }
   
    .nav-link {
        display: flex;
        color: $dark;
        padding: 12px 32px;
        position: relative;
        &:hover {
          color: $success;
        }
     }

     // 製作假的border線 用偽元素
    .nav-link.active::before {
         content: "";
         position: absolute;
         left: 0;
         width: 4px;
         height: 32px;
         border: 4px solid  $success;
           }

    

}

